html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #d0e0e3;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
}

#main-content {
	background-color: white;
	border: 5px solid #e6b8af;
	color: black;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5em;
	padding: 30px;
	text-align: left;
}

#intro a {
	border-bottom: 2px solid #fce5cd;
	color: black;
}

#intro a:hover {
	background-color: #fce5cd;
	text-decoration: none;
}

#intro #name {
	color: #434343;
	font-weight: 500;
}

#intro p:last-of-type, #about p:last-of-type {
  margin-bottom: 0;
}

#about {
  border-top: 3px solid #e6b8af; 
  margin-top: 30px;
  padding-top: 30px;
}

.content {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
}

.content > .container-fluid:first-of-type {
  padding-top: 36px;
}

.footer {
	flex-shrink: 0;
}

.footer-text {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.red {
	color: white;
}

.social-media-icons {
	padding-top: 10px;
	text-align: center;
}

.social-media-icons .fa {
	font-size: 24px;
	padding: 10px;
	color: #76a5af;
}

#wrapper {
	display: block;
	min-height: 100%;
	position: relative;
}
